:root {
    --eerie-black: #151515ff;
    --earth-yellow: #e9b872ff;
}

.container-s1 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--earth-yellow);

}

.tl {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.tr {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.bl {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.br {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.border {
    border: 2px solid var(--eerie-black);
}