:root {
    --sizzling-red: #f2545bff;
    --amaranth-purple: #a93f55ff;
    --gunmetal: #19323cff;
    --mint-cream: #f3f7f0ff;
    --eerie-black: #151515ff;
    --sweet-brown: #a63d40ff;
    --earth-yellow: #e9b872ff;
    --asparagus: #90a959ff;
    --air-superiority-blue: #6494aaff;
    --lighter-blue: #7FC8F8;
}

.container-s4 {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--amaranth-purple);
}

.mini-flex {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.mini1 {
    flex: 0.5 0.5 auto;
}

.mini2 {
    flex: 2 2 auto;
}

.mini3 {
    flex: 1 1 auto;
}

.small-flex {
    display: flex;
    flex: 1 1 auto;
}

.small1 {
    flex: 1 1 auto;
}

.small2 {
    flex: 1 1 auto;
}

.border {
    border: 2px solid var(--eerie-black);
}